<template name="matches">
    <div class="row">
      <div class="panel panel-default" id="panelSearch">
        <div class="panel-body">
          <form role="form" name="form-add-friend" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="amigos" class="col-sm-2 control-label">Escolha o jogo</label> 
                  <div class="col-sm-6">
                    <select name="selectGame" multiple="" id="selectGame" class="form-control m-b">
                      {{#each games}}
                        <option value='{{ bggid }}'>{{ name }}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
            <div>Não encontrou seu jogo? <a href="/games">cadastre agora, é super rápido.</a></div>
          </form>
      </div>
    </div>

    {{#with game}}
    <div class="col-lg-12" id="viewGame">
      <div class="panel widget">
        <div class="panel-body bg-inverse">
          <div class="row text-center">
            <div class="col-xs-6">
              <img src="https:{{ thumbnail }}"/>
            </div>
            <div class="col-xs-6">
              <h4 class="m0">{{ name }}</h4>
              <p class="m0 text-muted">
                 <small id='subtitleGame'>Ano: {{ yearpublished }}</small>
              </p>
              <p class="h2 mt0" id="pTimer">{{ timer }}</p>
              <p id="pBtnCountPoints"></p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row row-table text-center">
            <div class="col-xs-6">
              <p class="m0 text-muted">Tempo médio</p>
              <h4 class="m0"><em class="fa fa-clock-o"></em> {{ playingtime }} min</h4>
            </div>
            <div class="col-xs-6">
              <p class="m0 text-muted">Jogadores</p>
              <h4 class="m0"><em class="fa fa-group"></em> {{ minplayers }} - {{ maxplayers }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}

    <div class="col-lg-6" id="divButtons">
      <button type="button" id="btnMatchNow" class="btn btn-success">Vou jogar agora</button> ou
      <button type="button" id="btnScheduleMatch" class="btn btn-info">Agendar partida</button>
    </div>

    <div id="divSchedle">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="datetimepicker1" class="input-group date">
                <input id="dateMatch" class="form-control" type="text" placeholder="Data da partida">
                <span class="input-group-addon" style="">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <div class="col-lg-12" id="divPlayers">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- START table-responsive-->
          <div class="table-responsive">
              <table id="table-ext-1" class="table table-bordered table-hover">
                 <tbody>
                    {{#each arrMaxPlayers }}
                      <tr>
                        <td width="10%">#{{ index }}</td>
                        <td width="10%" id="imgPlayer{{ index }}"></td>
                        <td width="70%">
                          <select 
                            name="player{{ index }}" 
                            id="player{{ index }}" 
                            class="form-control m-b selectPlayer"
                            multiple="true" 
                          >
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control" id="ptPlayer{{ index }}">
                        </td>
                      </tr>
                    {{/each}}
                 </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    
    <div id="readyPlayers">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#each players}}
          <div class="col-sm-2">
            <div class="panel widget">
               <div class="panel-body {{#if first}}bg-info{{else}}bg-default{{/if}} text-center">
                  <div class="custom-avatar">
                    <em class="fa fa-user fa-2x"></em>
                  </div>
                  <p>{{ mail }}</p>
               </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>  
    </div>

    <div class="col-lg-12" id="classification">
      <div class="panel panel-default">
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table id="table-ext-1" class="table table-bordered table-hover">
               <tbody>
                  {{#each podium }}
                    <tr>
                      <td width="10%">{{#if @index 0}} {{else}} <em class="fa fa-trophy fa-2x"></em> {{/if}}</td>
                      <td width="10%">
                        <em class="fa fa-user fa-2x"></em>
                      </td>
                      <td width="10%">{{ pontos }}</td>
                      <td width="70%">{{ mail }}</td>
                    </tr>
                  {{/each}}
               </tbody>
            </table>
        </div>
      </div>
    </div>  

    <div class="form-group pull-right" id="divBtnStarMatch">
      <button type="button" id="btnStartMatch" class="btn btn-success">Iniciar Partida</button>
    </div>

    <div class="form-group pull-right" id="divBtnSaveSchedule">
      <button type="button" id="btnStartMatch" class="btn btn-success">Salvar Agendamento</button>
    </div>

    <div class="form-group pull-right" id="divBtnFirstPlayer">
      <button type="button" id="btnFirstPlayer" class="btn btn-success">Sortear First Player</button>
    </div>

    <div class="form-group pull-right" id="divBtnFinishMatch">
      <button type="button" id="btnFinishMatch" class="btn btn-danger">Finalizar Partida</button>
    </div>

    <div class="form-group pull-right" id="divBtnPublish">
      <button type="button" id="btnFinishMatch" class="btn btn-info">Publicar resultado no Facebook</button>
    </div>
    
  </div>  
</template>