<template name="loginLayout">
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">

            <div class="panel panel-dark panel-flat">
                <div class="panel-heading text-center">
                    <a href="#">
                        <img src="/img/logoSocialGames.png" alt="Image" class="block-center img-rounded">
                    </a>
                </div>
                <div class="panel-body">
                    {{> yield }}
                </div>
            </div>

            <div class="p-lg text-center">
                <span>&copy;</span>
                <span>2016</span>
                <span>-</span>
                <span>Social BoardGame</span>
            </div>
        </div>
    </div>
</template>